@import '../../../styles/variables';

.container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 125px;
  grid-gap: 10px;
}

.link {
  color: $accent-color;
  font-weight: 450;
}

.title {
  padding: 5px;
}

.explore {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
}

.date {
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;
}
