@import '../../styles/variables';

.grid {
  display: grid;

  grid-template-areas:
  "header"
  "streams"
  "feed";

  grid-gap: 10px;

  @media (min-width: $min-width) {
    grid-template-areas:
    "header header"
    "feed streams";
    grid-template-columns: 75% 1fr;
    grid-gap: 10px;
  }
}
