@import '../../../styles/variables';

.container {
  background: $background-color;
  padding: 30px;
  border-radius: 20px;
  overflow-y: auto;
  @media (min-width: $min-width) {
    width: 50vw;
  }
  width: 75vw;
  height: 75vh;
}

.description {
  overflow-wrap: break-word;
}
