@import '../../styles/variables.scss';

.container {
  grid-area: feed;
  @media (min-width: $min-width) {
    padding: 0 0 0 10px;
  }
  padding: 0 10px 0 10px;
}

.heading {
  background: $accent-color;
  padding: 10px;
  border: 5px solid #5865f2;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: 500;
}

.list {
  border: 5px solid $accent-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
