@import '~normalize.css';
@import './variables.scss';

body {
  background: $background;
  color: $title;
  font-family: 'Virgil', sans-serif;
  padding: 15px;
}

@font-face {
  font-family: "Virgil";
  src: url("https://virgil.excalidraw.com/Virgil.woff2");
  font-display: swap;
}
