@import '../../styles/variables';

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.explore {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.explore, .article {
  border: 1px solid $title;
  border-radius: $curvedBorder;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: $title;
}
