@import '../../../styles/variables';

.container {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: $primary-color;
  font-weight: 450;
}

.link:hover {
  color: $accent-color;
  transition: color 0.2s;
}
